# Local .terraform directories
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
!terraform.tfvars.example
override.tf
.terraformrc
terraform.rc
*.json
.terraform.lock.hcl
access-key.json
*.json
access-key.json
